body {
  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
}

h1 {
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

/* Style highlight aktif */
.highlight {
  color: red;
  background-color: yellow;
  font-weight: bold;
}
